extends ./header.jade

block cuerpo
    link(rel='stylesheet', href='/css/tablero.css')
    h1 #{sala}
    input#user(hidden value="#{usuario}")
    input#j1(hidden value="#{jugador1}")
    input#j2(hidden value="#{jugador2}")
    input#sala(hidden value="#{sala}")
    .contenedor
      .fila
        .c1
        .c2
        .c3
      br
      .fila
        .c4
        .c5
        .c6
      br
      .fila
        .c7
        .c8
        .c9
    form(action='')
      input#m(autocomplete='off')
      button Enviar
    
    
    script(src='/socket.io/socket.io.js')
    script(src='https://code.jquery.com/jquery-1.11.1.js')
    script.
      
      $(function () {
            c = console.log;

            var socket = io();
            usuario = $('#user').val();
            var canal = $("#sala").val();
            var jugadores = [$('#j1').val(),$('#j2').val()];

            c(canal);
            c(jugadores);
            contador = 1;
            casillas = [1,1,1,1,1,1,1,1,1];
            final = [];

            if(contador == 1)
             {
                turno = jugadores[id()];
                contador++;
             }
            else{

                if(turno == jugadores[0])
                    turno = jugadores[1];
                else if(turno == jugadores[1]){
                    turno = jugadores[0];
                }    
                //- turno = turno_();
            }
            
            c(usuario);

            $('form').submit(function(){
                if(turno == usuario){

                    socket.emit(canal, usuario,$('#m').val());
                    $('#m').val('');
                    return false;
                }

            });
      
            socket.on(canal, function(msg,jugadores,user){
                c('usuario: '+usuario+" turno: "+turno);

                //- if(user == usuario){
                    principal(msg);
                //- }
                //- else{
                    //- alert('No es el turno');
                //- }
                //- if(contador == 1){
                //-     principal(msg);

                //-     turno = turno_(jugadores,user);

                //-     c('turno: '+turno);
                //-     c('jugadores: '+jugadores[0]+" "+jugadores[1])
                //-     contador++;
                //-     c('contador '+contador);
                //- }
                //- else{
                    
                //-     c('usuario: '+usuario+" turno: "+turno);
                //-     if( usuario == turno){
                        
                //-         principal(msg);
                //-         turno = turno_(jugadores,user);
                        
                //-         c('turno: '+turno);

                //-     }
                //-     else{
                //-         alert('No es el turno');
                //-     }
                //- }
                
            });
      });

      var principal = (msg) =>{
                
                var tokens = msg.match(/[xo]-([1-9]{1}$)/g);
                
                
                c(tokens);

                if(tokens != null)
                 {   
                    tokens = tokens[0].split('-');
                    imagen = `/img/`;
                        
                        if(tokens[0] == 'x'){
                                imagen = imagen+'equis.png';
                        }
                        else if(tokens[0] == 'o'){
                            imagen = imagen+'circulo.png';
                        }
                        
                        if(casillas[tokens[1]-1] != 0){
                            var clase = `.c${tokens[1]}`;
                            var figura = `<img src=${imagen} class="figura">`;
                            casillas[tokens[1]-1] = 0;
                        }
                        else{
                            alert('Casilla Ocupada')
                        }
                        $(clase).html(figura);
                        $(clase).attr('val',tokens[0]);
                        

                        fin = false;
                        for(let i=0; i<casillas.length; i++){
                            
                            if(casillas[i] == 0){
                                final[i]=$(`.c${i+1}`).attr('val');
                            }

                        }

                        fin =  comprobacion(casillas);    

                        console.log(final);

                        let jugador_ganador = ganador(final);
        
                        console.log(jugador_ganador);
        
                        if( jugador_ganador != 'T' ){
                            alert(`Fin del juego:\n${jugador_ganador}ganan`);
                        }
                        else{
                            if( fin )
                                alert(`Empate`);
                        }
                        }
                        else{
                            alert('Comando no valido .l.')
                        }
                
      }
      var turno_ = (user) => {
        var temp = '';
        var index = -1;
        for (let i = 0; i < jugadores.length; i++) {
                
                if(user == jugadores[i].user){c('loca '+ (user == jugadores[i].user))
                    index = i;
                }
            c("i "+i);
            }  
            
            if( index == 0){
                temp = jugadores[1].user;
            }
            else if( index == 1){
                temp = jugadores[0].user;
            }
                    
            return temp;
      }

      var ganador = (final)=>{
           
           let juego1 = definido(final,0,1,2);//(final[0] == final[1] && final[1] == final[2] && final[0] == final[2]);
           let juego2 = definido(final,3,4,5);//(final[3] == final[4] && final[4] == final[5] && final[3] == final[5]);
           let juego3 = definido(final,6,7,8);//(final[6] == final[7] && final[7] == final[8] && final[6] == final[8]);
           let juego4 = definido(final,0,3,6);//(final[0] == final[3] && final[3] == final[6] && final[0] == final[6]);
           let juego5 = definido(final,1,4,7);//(final[1] == final[4] && final[4] == final[7] && final[1] == final[7]);
           let juego6 = definido(final,2,5,8);//(final[2] == final[5] && final[5] == final[8] && final[2] == final[8]);
           let juego7 = definido(final,0,4,8);//(final[0] == final[4] && final[4] == final[8] && final[0] == final[8]);
           let juego8 = definido(final,2,4,6);//(final[2] == final[4] && final[4] == final[6] && final[2] == final[6]);
        
           var jugador_ganador = '';
           console.log(juego1);
           console.log(juego2);

           console.log(juego3);

           console.log(juego4);

           console.log(juego5);

           console.log(juego6);

           console.log(juego7);

           console.log(juego8);

           

           
           if(juego1.estado && juego1.juego){
               jugador_ganador = juego1.jugador;
           }
           else if(juego2.estado && juego2.juego){
               jugador_ganador = juego2.jugador;
           }
           else if(juego3.estado && juego3.juego){
               jugador_ganador = juego3.jugador;
           }
           else if(juego4.estado && juego4.juego){
               jugador_ganador = juego4.jugador;;
           }
           else if(juego5.estado && juego5.juego){
               jugador_ganador = juego5.jugador;
           }
           else if(juego6.estado && juego6.juego){
               jugador_ganador = juego6.jugador;
           }
           else if(juego7.estado && juego7.juego){
               jugador_ganador = juego7.jugador;
           }
           else if(juego8.estado && juego8.juego){
               jugador_ganador = juego8.jugador;;
           }
           else{
               jugador_ganador = 'T';
           }

           return jugador_ganador;
      }

      var definido = (final,x,y,z)=>{
          return { 
                    'estado':
                        (final[x] !== undefined) && (final[y] !== undefined) && (final[z]!== undefined),
                    'juego':    
                        (final[x] == final[y] && final[y] == final[z] && final[x] == final[z]),
                    'jugador': final[x],
                 };
      }

      var comprobacion = (casillas) =>{
               
               var comprobacion = true;

               for(i=0;i<casillas.length;i++){
                   if(casillas[i] !== 0){
                       comprobacion = false;
                   }
               }

               return comprobacion;
      }
    
      var id = () =>{
        return Math.round(Math.random()*2);
      }
